@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Noto+Serif+TC:wght@900&family=Roboto:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'ar_julianregular';
        src: url('../font/arjulian-webfont.woff2') format('woff2'),
            url('../font/arjulian-webfont.woff') format('woff'),
            url('../fonts/ARJULIAN.ttf') format('truetype');
        font-weight: 5;
        font-style: normal;
    }

    html {
        font-family: 'Noto Sans TC', system-ui, sans-serif;
        scroll-behavior: smooth;
        overflow-x: hidden;
        line-height: 1.5;
        overflow: hidden;
    }
    body {
        cursor: url('../images/cursor.png'), auto;
        color: #38241B;
        /* overflow-x: hidden; */
        overflow: hidden;
    }

    a{
        cursor: url('../images/cursor.png'), pointer;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #38241B;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #eee1ca;
        border-radius: 25px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #951205;
    }

    :target:before {
        content: "";
        display: block;
        height: 100px;
        margin: -100px 0 0;
    }
}